body {
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    min-width: 320px;
}

p {
    font-family: "Lato-Regular", sans-serif;
    font-size: 16px;
}

/*BUTTONS*/
.my-btn {
    background-color: #ffffa7;
    border: none;
    font-family: "Lato-Black", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
}

.my-btn-lg {
    padding: 18px 30px;
}

.btn-md {
    padding: 10px 30px;
}

.btn-radios {
    border-radius: 25px;
}

.btn-dowload {
    background: #c2f37e;
    color: #fff;
    text-transform: uppercase;
}

.btn-print {
    background: #3edbc8;
    color: #fff;
    text-transform: uppercase;
}

.sendmess {
    background: #b4eb83;
    color: #fff;
    text-transform: uppercase;
}
/*HEADER*/
header {
    height: 680px;
    background-image: url('../img/Layer-1.jpg');
    background-color: #98d6d1;
    -webkit-background-size: cover;
    background-size: cover;
}

nav {
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.my-btn-bars {
    color: #fff;
}

.my-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

    .my-menu li {
        display: inline-block;
        padding: 0 25px;
    }

        .my-menu li a {
            color: #fff;
            padding: 12px;
            border: 2px solid transparent;
        }

            .my-menu li a:hover,
            .my-menu li a:focus {
                text-decoration: none;
                border: 2px solid #fff;
                border-radius: 26px;
                background-color: transparent;
            }

a.my-logos {
    padding-top: 35px;
    font-size: 20px;
    font-family: "Montserrat-Regular", sans-serif;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
}

    a.my-logos:hover {
        color: #fff;
        text-decoration: underline;
    }

.myblk-users {
    float:right
}

    .myblk-users img {
        border-radius: 25px;
    }

    .myblk-users i {
        margin-left: 5px;
        font-size: 10px;
        color: #fff;
    }

.myblk-title {
    margin-top: 200px;
    text-align: center;
    color: #fff;
}

    .myblk-title h1 {
        letter-spacing: 2px;
        font-family: "Chunkfive", sans-serif;
        text-transform: uppercase;
        font-size: 56px;
    }

    .myblk-title b {
        color: #00a2a5;
    }

    .myblk-title button {
        margin-top: 20px;
    }

/*MAIN*/
.mblk-main {
    background: #f2fefe;
}

.mblk-md {
    margin: 5%;
}

    .mblk-md h1 {
        letter-spacing: 2px;
        font-family: "Chunkfive", sans-serif;
        color: #2bd9c2;
        font-size: 46px;
        margin: 70px 0 20px 0;
    }

    .mblk-md b {
        color: #01a3a5;
    }

    .mblk-md p {
        margin: 40px 0 0 0;
        line-height: 30px;
    }

img.ibig-md {
    width: 100%;
}

img.ibig-lg {
    width: 100%;
}


.mblk-main-heder {
    padding-bottom: 60px;
}

.mblk-top-line {
    background: rgba(255, 255, 255, 0.83);
    height: 40px;
    position: relative;
    top: -40px;
}

.my-info {
    padding-top: 73px;
}

    .my-info i {
        margin-right: 5px;
        color: #c2c0c1;
        font-size: 18px;
    }

    .my-info a {
        color: #c2c0c1;
    }

    .my-info span {
        font-size: 13px;
        vertical-align: top;
    }

    .my-info a:hover,
    .my-info a:focus {
        color: #c2c0c1;
    }

h4.my-recom {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 14px;
    color: #777;
}

    h4.my-recom b {
        color: #c2c3c5;
        font-weight: 100;
    }

.my-formblk {
    width: 220px;
    padding: 5px 0 5px 18px;
    border: 1px solid #c2c3c5;
    border-radius: 25px;
    background: #fff;
}

    .my-formblk input {
        border: none;
        padding: 5px 0 5px 0;
        font-size: 12px;
        font-style: italic;
    }

        .my-formblk input:focus {
            font-style: normal;
        }

    .my-formblk i {
        color: #55676e;
        margin-right: 8px;
    }

.mblk-lg {
    position: relative;
    margin-bottom: 40px;
}

    .mblk-lg img.ibig {
        width: 100%;
    }

.lg-main {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 58%;
    background: rgba(244, 249, 252, 0.93);
    padding: 4%;
    line-height: 30px;
}

    .lg-main h3 {
        color: #01a2a6;
        font-family: "Lato-Regular", sans-serif;
    }

    .lg-main:before {
        content: "";
        position: absolute;
        left: -10px;
        top: 45%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid rgba(244, 249, 252, 0.93);
    }

.separat-block {
    left: 0;
    right: 47%;
}

    .separat-block::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 45%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgba(244, 249, 252, 0.93);
    }

    .separat-block::before {
        display: none;
    }

.separat-round {
    height: 40%;
    width: 32%;
    top: 38%;
    left: 40%;
    background: rgba(244, 249, 252, 0.93);
    border-radius: 50%;
}

    .separat-round:before {
        display: none;
    }

    .separat-round img {
        padding: 7%;
    }

.my-link {
    position: absolute;
    bottom: 20px;
    left: 45%;
}

    .my-link b {
        color: #fff;
    }

        .my-link b::after {
            content: "\2192";
            color: #fff;
            padding: 0 10px 0;
        }

    .my-link a:hover,
    .my-link a:focus {
        text-decoration: none;
    }

.mlink-rght {
    left: 75%;
}

.my-pagination {
    text-align: center;
    font-family: "Chunkfive", sans-serif;
    font-size: 12pt;
}

.my-pagination-nav {
    display: inline-block;
    margin: 60px 0;
}

.my-pagination li {
    display: inline;
    padding: 10px;
    line-height: 0px;
}

    .my-pagination li:nth-last-child(1) {
        padding: 0px;
    }

.my-pagination a {
    color: #aeacad;
}

    .my-pagination a:hover,
    .my-pagination a:focus {
        display: inline-block;
        color: #01a3a5;
        font-size: 22pt;
        text-decoration: none;
    }

/*SETTINGS*/

.my-settings {
    background: #fff;
    padding-bottom: 60px;
}

.title-set {
    color: #29d9c3;
    margin: 60px 0 60px 0;
}

    .title-set h1 {
        text-transform: none;
        letter-spacing: 4px;
        margin-bottom: 60px;
    }

    .title-set b {
        color: #01a2a5;
        margin-left: 10px;
    }

    .title-set p {
        color: #898989;
    }

.mblk-set {
    background-color: #ffffa7;
    width: 100%;
    padding-bottom: 80px;
}

    .mblk-set form {
        font-family: "Lato-Regular", sans-serif;
        color: #29dac4;
        margin: 0 20px 0 20px;
    }

        .mblk-set form input[type=date] {
            border: none;
            background: none;
        }

        .mblk-set form label {
        }

.mblk-set-hed {
    background-color: #29d9c2;
    background-image: url('../img/Shape-27.png');
    background-size: cover;
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .mblk-set-hed h4 {
        padding: 3% 0 0 40%;
        color: #feffff;
        font-size: 16px;
    }

/*TABLE*/

.my-table {
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px 20px 50px;
}

.my-theder {
    color: #28d9bf;
}

    .my-theder > td {
        height: 40px;
    }

        .my-theder > td:last-child {
            text-align: right;
        }

.my-table > table > tbody > tr.my-theder > td {
    border: none;
}

.my-set-inf {
    background: #fff;
    height: 80px;
}

    .my-set-inf > td {
        font-family: "Lato-Regular", sans-serif;
        border: solid 2px #d5d57d;
        font-size: 22px;
        color: #ababab;
    }

        .my-set-inf > td:first-child {
            border-right: none;
            width: 100px;
        }

        .my-set-inf > td:last-child {
            border-left: none;
            text-align: right;
            font-size: 18px;
            color: #c8c8c8;
            padding-right: 15px;
        }

        .my-set-inf > td:nth-child(2n) {
            border-left: none;
        }

        .my-set-inf > td:nth-last-child(2) {
            border-right: none;
        }

    .my-set-inf img {
        margin: 15px;
    }

input.my-data {
    text-align: right;
    background: none;
    border: none;
    width: 130px;
}

.my-set-inf td:first-child {
    border-top-left-radius: 5px;
}

.my-set-inf td:last-child {
    border-top-right-radius: 5px;
}

.my-set-inf td:first-child {
    border-bottom-left-radius: 5px;
}

.my-set-inf td:last-child {
    border-bottom-right-radius: 5px;
}

.add-sub-menu {
    margin: 0 2%;
    background: #f5e99d;
    border-bottom-left-radius: 5px;
}

    .add-sub-menu span {
        display: block;
        width: 95%;
        margin: 0 auto;
        padding: 11px;
        color: #afa25c;
        font-size: 16px;
        font-weight: 600;
    }


        .add-sub-menu span:first-child {
            border-bottom: 1px solid #d5d57d;
        }

.add-sub {
    color: #d8cb7c;
    font-size: 16px;
}

    .add-sub i {
        font-size: 24px;
    }

    .add-sub button {
        vertical-align: middle;
        background: none;
        border: 1px;
    }

    .add-sub span {
        background: #f5e99d;
        position: relative;
        float: right;
        padding: 8px;
        right: 2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        margin-bottom: 15px;
    }

.my-drag {
    border-radius: 5px;
    padding: 24px;
    text-align: center;
    background: #fbf6a4;
    border: 2px dashed #d5d57d;
}

    .my-drag span {
        color: #d8cb7c;
        font-size: 14px;
        font-weight: 700;
        padding: 14px;
    }

.choice-dowload {
    margin: 20px 0;
    text-align: right;
}

    .choice-dowload i {
        margin-right: 6px;
        font-size: 17px;
    }

    .choice-dowload button {
        margin-left: 20px;
    }

.my-destination {
    padding: 0 20px;
}

    .my-destination h4 {
        font-weight: 700;
        text-align: center;
        padding: 15px;
        margin-bottom: 40px;
        color: #29d9c1;
    }

        .my-destination h4::after {
            content: "";
            position: absolute;
            top: 50px;
            right: 43%;
            height: 3px;
            width: 70px;
            background: #29d9c1;
        }

.sort-pan span {
    color: #29d9c2;
    font-weight: 700;
}


.sort-pan select {
    border: none;
    color: #bababa;
}

    .sort-pan select > option {
        background: #ffffa7;
        color: #4d4d4d;
        font-size: 13px;
    }

.sort-pan i {
    color: #bababa;
    float: right;
    margin-right: 10px;
}

    .sort-pan i:hover,
    .sort-pan i:focus {
        color: #bababa;
    }

.sort-result {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #c6c6c6;
}

.res-details {
    width: 82%;
    display: table-cell;
    vertical-align: middle;
}

    .res-details h3 {
        margin: 0 0 5px 0;
    }

    .res-details span {
        font-size: 12px;
        color: #d2d2d2;
    }

    .res-details b {
        font-size: 12px;
        color: #24c6b7;
    }

.res-links {
    width: 70px;
    display: table-cell;
    vertical-align: middle;
}

    .res-links a {
        color: #64d2c7;
        font-size: 12px;
        font-weight: 700;
    }

/*CONTACT*/
.my-contact {
    background-image: url('../img/Layer-151.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(10, 145, 146, 0.77);
}

    .my-contact h1 {
        color: #fff;
        font-family: "Chunkfive", sans-serif;
        text-align: center;
        margin: 6% 0 10% 0;
        font-size: 56px;
    }

.my-blk-center {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-top: 120px;
}

.my-contact-else h1 {
    color: #fff;
    font-family: "Lato-Regular", sans-serif;
    font-size: 40px;
    margin-top: 10px;
}

.my-adress {
    list-style-type: none;
    color: #fff;
    font-family: "Lato-Regular", sans-serif;
}

    .my-adress li {
        margin-bottom: 10px;
    }

        .my-adress li:first-child {
            margin-bottom: 0px;
        }

        .my-adress li:nth-child(2) {
            margin: 0 0 10px 20px;
        }

    .my-adress b {
        color: #e1eb81;
        font-style: italic;
        text-transform: uppercase;
    }

/*FORMS*/
#contact {
    text-align: right;
    margin-bottom: 60px;
    width: 550px;
}

    #contact input {
        border: 1px solid #fff;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        font-style: italic;
    }

        #contact input[type=email] {
            width: 525px;
        }

        #contact input[type=text] {
            width: 250px;
        }

    #contact textarea {
        font-style: italic;
        border: 1px solid #fff;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        width: 525px;
        margin: 10px;
    }

/*Subscribe-form*/
.my-subscrib {
    padding: 30px 0;
    background-image: linear-gradient(60deg, #bef273 43%, #b1e567 40.5%);
}

#my-form-Subscribe {
    margin: 40px 0 0 0;
    width: 350px;
}

    #my-form-Subscribe input[type=text] {
        background-color: #fff;
        border: 1px solid #7ba83f;
        padding: 15px 25px;
        border-radius: 3px;
        font-style: italic;
        font-size: 12px;
        width: 100%;
    }

    #my-form-Subscribe button {
        position: relative;
        bottom: 48px;
        left: 303px;
        height: 48px;
        width: 47px;
        background-color: #00a2a5;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        color: #fff;
    }

/*Subscribe-block*/
.my-subscrib {
}

    .my-subscrib h1 {
        margin-top: 38px;
        margin-bottom: 0px;
        color: #fff;
        font-family: "Chunkfive", sans-serif;
        font-size: 50px;
    }

    .my-subscrib p {
        color: #fff;
        font-size: 12px;
    }

/*footer*/

.my-footer {
    height: 260px;
    padding: 10px 0;
    background-image: url('../img/footer-bg.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.my-foot-nav {
    margin-top: 20px;
    font-size: 12px;
    color: #525053;
    list-style-type: disc;
}

    .my-foot-nav a {
        color: #525053;
    }

        .my-foot-nav a:hover,
        .my-foot-nav a:focus {
            color: #525053;
            text-decoration: none;
        }

    .my-foot-nav li:first-child {
        list-style-type: none;
    }

    .my-foot-nav li {
        float: left;
        margin-right: 20px;
    }

.mblok-info {
    margin-top: 10px;
    float: right;
    font-size: 12px;
}

    .mblok-info i {
        padding: 1px 0 0 2px;
    }

    .mblok-info li {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        text-decoration: none;
        padding: 5px;
        background: #3d3741;
        border-radius: 25px;
        border: 1px solid #3d3741;
        margin-right: 10px;
    }

        .mblok-info li:hover,
        .mblok-info li:focus {
            background: #ffffa7;
            border: 1px solid #ffffa7;
            cursor: pointer;
        }

    .mblok-info a {
        color: #2f2933;
    }

        .mblok-info a:hover,
        .mblok-info a:focus {
            color: #2f2933;
        }

.my-copyright {
    font-size: 12px;
    margin-top: 180px;
    text-align: center;
    color: #525053;
}

.my-foot-color span {
    display: block;
    width: 20%;
    float: left;
    padding: 10px 0;
} 
.color-1 {
    background: #ffffa7;
}

.color-2 {
    background: #bef272;
}

.color-3 {
    background: #29d9c2;
}

.color-4 {
    background: #00a2a5;
}

.color-5 {
    background: #2f2933;
}