body {
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    min-width: 320px;
}

p {
    font-family: "Lato-Regular", sans-serif;
    font-size: 16px;
}

/*BUTTONS*/
.my-btn {
    background-color: #ffffa7;
    border: none;
    font-family: "Lato-Black", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
}

.my-btn-lg {
    padding: 18px 30px;
}

.btn-md {
    padding: 10px 30px;
}

.btn-radios {
    border-radius: 25px;
}

/*HEADER*/
header {
    height: 680px;
    background-image: url('../img/Layer-1.jpg');
    background-color: #98d6d1;
    -webkit-background-size: cover;
    background-size: cover;
}

nav {
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

    .menu li {
        display: inline-block;
        padding: 0 25px;
    }

        .menu li a {
            color: #fff;
            padding: 12px;
            border: 2px solid transparent;
        }

            .menu li a:hover,
            .menu li a:focus {
                text-decoration: none;
                border: 2px solid #fff;
                border-radius: 26px;
                background-color: transparent;
            }

a.my-logos {
    padding-top: 35px;
    font-size: 20px;
    font-family: "Montserrat-Regular", sans-serif;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
}

    a.my-logos:hover {
        color: #fff;
        text-decoration: underline;
    }

.myblk-users {
    clear: both;
}

    .myblk-users img {
        border-radius: 25px;
    }

    .myblk-users i {
        margin-left: 5px;
        font-size: 10px;
        color: #fff;
    }

.myblk-title {
    margin-top: 200px;
    text-align: center;
    color: #fff;
}

    .myblk-title h1 {
        letter-spacing: 2px;
        font-family: "Chunkfive", sans-serif;
        text-transform: uppercase;
        font-size: 56px;
    }

    .myblk-title b {
        color: #00a2a5;
    }

    .myblk-title button {
        margin-top: 20px;
    }

/*MAIN*/
.mblk-main {
    background: #f2fefe;
}

.mblk-md {
    margin: 5%;
}

    .mblk-md h1 {
        letter-spacing: 2px;
        font-family: "Chunkfive", sans-serif;
        color: #2bd9c2;
        font-size: 46px;
        margin: 70px 0 20px 0;
    }

    .mblk-md b {
        color: #01a3a5;
    }

    .mblk-md p {
        margin: 40px 0 0 0;
        line-height: 30px;
    }

img.ibig-md {
    width: 100%;
}

img.ibig-lg {
    width: 100%;
}


.mblk-main-heder {
    padding-bottom: 60px;
}

.mblk-top-line {
    background: rgba(255, 255, 255, 0.83);
    height: 40px;
    position: relative;
    top: -40px;
}

.my-info {
    padding-top: 73px;
}

    .my-info i {
        margin-right: 5px;
        color: #c2c0c1;
        font-size: 18px;
    }

    .my-info a {
        color: #c2c0c1;
    }

    .my-info span {
        font-size: 13px;
        vertical-align: top;
    }

    .my-info a:hover,
    .my-info a:focus {
        color: #c2c0c1;
    }

h4.my-recom {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 14px;
    color: #777;
}

    h4.my-recom b {
        color: #c2c3c5;
        font-weight: 100;
    }

.my-formblk {
    width: 220px;
    padding: 5px 0 5px 18px;
    border: 1px solid #c2c3c5;
    border-radius: 25px;
    background: #fff;
}

    .my-formblk input {
        border: none;
        padding: 5px 0 5px 0;
        font-size: 12px;
        font-style: italic;
    }

        .my-formblk input:focus {
            font-style: normal;
        }

    .my-formblk i {
        color: #55676e;
        margin-right: 8px;
    }

.mblk-lg {
    position: relative;
    margin-bottom: 40px;
}

    .mblk-lg img.ibig {
        width: 100%;
    }

.lg-main {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 58%;
    background: rgba(244, 249, 252, 0.93);
    padding: 4%;
    line-height: 30px;
}

    .lg-main h3 {
        color: #01a2a6;
        font-family: "Lato-Regular", sans-serif;
    }

    .lg-main:before {
        content: "";
        position: absolute;
        left: -10px;
        top: 45%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid rgba(244, 249, 252, 0.93);
    }

.separat-block {
    left: 0;
    right: 47%;
}

    .separat-block::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 45%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgba(244, 249, 252, 0.93);
    }

    .separat-block::before {
        display: none;
    }

.separat-round {
    height: 40%;
    width: 32%;
    top: 38%;
    left: 40%;
    background: rgba(244, 249, 252, 0.93);
    border-radius: 50%;
}

    .separat-round:before {
        display: none;
    }

    .separat-round img {
        padding: 7%;
    }

.my-link {
    position: absolute;
    bottom: 20px;
    left: 45%;
}

    .my-link b {
        color: #fff;
    }

        .my-link b::after {
            content: "\2192";
            color: #fff;
            padding: 0 10px 0;
        }

    .my-link a:hover,
    .my-link a:focus {
        text-decoration: none;
    }

.mlink-rght {
    left: 75%;
}

.my-pagination {
    text-align: center;
    font-family: "Chunkfive", sans-serif;
    font-size: 12pt;
}

.my-pagination-nav {
    display: inline-block;
    margin: 60px 0;
}

.my-pagination li {
    display: inline;
    padding: 10px;
    line-height: 0px;
}

    .my-pagination li:nth-last-child(1) {
        padding: 0px;
    }

.my-pagination a {
    color: #aeacad;
}

    .my-pagination a:hover,
    .my-pagination a:focus {
        display: inline-block;
        color: #01a3a5;
        font-size: 22pt;
        text-decoration: none;
    }

/*SETTINGS*/

.my-settings {
    background: #fff;
    padding-bottom: 60px;
}

.title-set {
    color: #29d9c3;
    margin: 60px 0 60px 0;
}

    .title-set h1 {
        text-transform: none;
        letter-spacing: 4px;
        margin-bottom: 60px;
    }

    .title-set b {
        color: #01a2a5;
        margin-left: 10px;
    }

    .title-set p {
        color: #898989;
    }

.mblk-set {
    background-color: #ffffa7;
    width: 100%;
}

    .mblk-set form {
        font-family: "Lato-Regular", sans-serif;
        color: #29dac4;
        margin: 0 20px 0 20px;
    }

        .mblk-set form input[type=date] {
            border: none;
            background: none;
        }

        .mblk-set form label {
        }

.mblk-set-hed {
    background-color: #29d9c2;
    background-image: url('../img/Shape-27.png');
    background-size: cover;
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .mblk-set-hed h4 {
        padding: 3% 0 0 40%;
        color: #feffff;
        font-size: 16px;
    }

/*TABLE*/

.my-table {
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px 40px 50px;
}

.my-theder {
    color: #28d9bf;
}

    .my-theder > td {
        height: 40px;
    }

    .my-theder > td:last-child {
        text-align: right;
    }

.my-table > table > tbody > tr.my-theder > td {
    border: none;
}

.my-set-inf {
    background: #fff;
    height: 80px;
}

    .my-set-inf > td {
        font-family: "Lato-Regular", sans-serif;
        border: solid 2px #d5d57d;
        font-size: 22px;
        color: #ababab;
    }

    .my-set-inf > td:first-child {
        border-right: none;
        width: 100px;
    }

        .my-set-inf > td:last-child {
            border-left: none;
            text-align: right;
            font-size: 18px;
            color: #c8c8c8;
            padding-right: 15px;
        }

    .my-set-inf > td:nth-child(2n) {
        border-left: none;
    }

    .my-set-inf > td:nth-last-child(2) {
        border-right: none;
    }

    .my-set-inf img{
        margin: 15px;
    }

input.my-data {
    text-align: right;
    background: none;
    border: none;
    width: 130px;
}

.my-set-inf td:first-child {
    border-top-left-radius: 5px;
}

.my-set-inf td:last-child {
    border-top-right-radius: 5px;
}

.my-set-inf td:first-child {
    border-bottom-left-radius: 5px;
}

.my-set-inf td:last-child {
    border-bottom-right-radius: 5px;
}

.add-sub-menu {
    margin-left: 12px;
    width: 97%;
    background: #f5e99d;
    border-bottom-left-radius: 5px;
}

    .add-sub-menu span {
        display: block;
        width: 95%;
        margin: 0 auto;
        padding: 11px;
        color: #afa25c;
        font-size: 16px;
        font-weight: 600;
    }


        .add-sub-menu span:first-child  {
            border-bottom: 1px solid #d5d57d;
        }

.add-sub {
    color: #d8cb7c;
    font-size: 16px;
}

    .add-sub i {
        font-size: 24px;
    }

    .add-sub button {
        vertical-align: middle;
        background: none;
        border: 1px;
    }

    .add-sub span {
        background: #f5e99d;
        position: relative;
        float: right;
        padding: 8px;
        margin-right: 8px;
        width: 35%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        margin-bottom: 15px;
    }
/*FORM-SET*/

